modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://ucguekbsiysuilvdacfw.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjZ3Vla2JzaXlzdWlsdmRhY2Z3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MTg4OTUsImV4cCI6MjA4OTQ5NDg5NX0.J4YnmMGP16QO6VIwQ6JP68fRd1eAgwC2JFu9ktd_8Ns"
FIREBASE_TOKEN = "1//0974FQwJ1SDtwCgYIARAAGAkSNwF-L9IrUxHKzXbuYUAuOLF4o87U4HiRagPl_NPCYPT-trLk2gb6dy_yWmm66Gb6xrmn93GixbE"
